/*==========================================================================
  Main navigation
==========================================================================*/

.main-navigation {
  justify-content: space-between;

  .mat-tab-nav-bar {
    @media screen and (max-width: 599px) {
      display: none;
    }

    .mat-tab-link {
      min-width: 140px;
    }
  }

  .btn-nav-menu {
    @media screen and (min-width: 600px) {
      display: none;
    }
  }
}

/*==========================================================================
  Main content
==========================================================================*/

.content {

  max-width: 1184px;
  padding: 32px 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  &.content-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &.content-detail {
    justify-content: space-evenly;

    section {
      width: 70%;

      .mat-card-content {
        table {
          table-layout: fixed;

          th {
            text-align: left;
          }

          td {
            height: 32px;

            @media screen and (max-width: 768px) {
              max-width: 200px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    aside {
      width: 30%;
    }
  }

  @media screen and (max-width: 599px) {
    padding: 16px 0;

    &.content-detail {
      flex-direction: column;

      section {
        width: 100%;
      }

      aside {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 600px) and (max-width: 959px) {

    &.content-detail {
      section {
        width: 60%;
      }

      aside {
        width: 40%;
      }
    }
  }

  .mat-card {


    margin: 0 16px 16px;
    padding: 16px;

    &.list-card-item {
      min-width: 256px;
      max-width: 380px;

      .mat-card-content {
        table {
          table-layout: fixed;

          th {
            text-align: left;
          }

          td {
            height: 32px;

            a {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            a:hover {
              overflow: visible;
            }
          }
        }
      }

      .img-wrapper {
        width: 100%;
        max-width: 316px;
        height: 200px;
        margin-bottom: 12px;
        overflow: hidden;
        .mat-card-image {
          width: 100%;
          max-width: 316px;
          margin: 0;
        }
      }

      .constructor-row-info,
      .circuit-row-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .mat-divider.mat-divider-horizontal.mat-divider-inset {
      margin: 8px 0;
    }

  }
}
