<header>
  <mat-toolbar class="main-navigation" color="primary">

    <span>{{ title }}</span>

    <mat-menu #menu="matMenu">
      <a mat-menu-item
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
      >
        {{ link.label }}
      </a>
    </mat-menu>

    <nav mat-tab-nav-bar backgroundColor="primary" color="primary">
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
      >
        {{ link.label }}
      </a>
    </nav>
    <button class="btn-nav-menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-toolbar>
  <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
</header>

<main>
  <router-outlet></router-outlet>
</main>
