<article class="content content-list">

  <mat-card class="list-card-item" *ngFor="let constructor of constructors">

    <div class="img-wrapper">
      <img mat-card-image [src]="'assets/img/constructors/' + constructor.constructorId + '.png'">
    </div>

    <mat-card-content>

      <div class="constructor-row-info">
        <span>Constructor: <strong>{{ constructor.name }}</strong></span>
        <a [href]="constructor.url" target="_blank"><mat-icon>open_in_new</mat-icon></a>
      </div>

      <div class="constructor-row-nation">
        <span>Nationality: <strong>{{ constructor.nationality }}</strong></span>
      </div>

    </mat-card-content>
  </mat-card>

</article>
