<article class="content content-list">

  <mat-card class="list-card-item" *ngFor="let driver of standings">
    <mat-card-header>
      <img mat-card-avatar [src]="'assets/img/drivers/' + driver.Driver.driverId + '.png'">
      <mat-card-title>
        <h4><a [routerLink]="['/drivers', driver.Driver.driverId ]">{{ driver.Driver.givenName + ' ' + driver.Driver.familyName }}</a></h4>
      </mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <table>
        <tbody>
          <tr>
            <th>Nationality:</th>
            <td><img [src]="'assets/img/flags/' + driver.Driver.nationality + '.png'"></td>
          </tr>
          <tr>
            <th>Position:</th>
            <td>{{ driver.position }}</td>
          </tr>
          <tr>
            <th>Points:</th>
            <td>{{ driver.points }}</td>
          </tr>
          <tr>
            <th>Wins:</th>
            <td>{{ driver.wins }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
      <span>Constructor: <strong>{{ driver.Constructors[0].name }}</strong></span>
    </mat-card-content>
  </mat-card>

</article>

