<article class="content content-list">

  <mat-card class="list-card-item" *ngFor="let circuit of circuits">

    <div class="img-wrapper">
      <img mat-card-image [src]="'assets/img/circuits/' + circuit.circuitId + '.png'">
    </div>

    <mat-card-content>

      <div class="circuit-row-info">
        <span>Name: <strong>{{ circuit.circuitName }}</strong></span>
        <a [href]="circuit.url" target="_blank"><mat-icon>open_in_new</mat-icon></a>
      </div>

      <div class="circuit-row-location">
        <span>Locality: <strong>{{ circuit.Location.locality }}, {{ circuit.Location.country }}</strong></span>
      </div>

    </mat-card-content>
  </mat-card>

</article>
