<article class="content content-detail">
  <section>
    <mat-card *ngIf="driver && driver.driverId">
      <mat-card-header>
        <img mat-card-avatar [src]="'assets/img/drivers/' + driver.driverId + '.png'">
        <mat-card-title>
          <h1>{{ driver.givenName + ' ' + driver.familyName }}</h1>
        </mat-card-title>
      </mat-card-header>

      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content>
        <table>
          <tbody>
          <tr>
            <th>Nationality:</th>
            <td>{{ driver.nationality }}</td>
          </tr>
          <tr>
            <th>Date of birth:</th>
            <td>{{ driver.dateOfBirth }}</td>
          </tr>
          <tr>
            <th>Starting Number:</th>
            <td>{{ driver.permanentNumber }}</td>
          </tr>
          <tr>
            <th>Biography:</th>
            <td><a [href]="driver.url">{{ driver.url }}</a></td>
          </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>

  </section>
  <aside>
    <mat-card>
      <mat-card-header>Recently viewed drivers </mat-card-header>
      <mat-card-content>
        <table>
          <tbody>
            <tr *ngFor="let driver of lastFiveDrivers">
              <td><img mat-card-avatar [src]="'assets/img/drivers/' + driver.driverId + '.png'"></td>
              <td><h4><a [routerLink]="['/drivers', driver.driverId]">{{ driver.givenName + ' ' + driver.familyName }}</a></h4></td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </aside>
</article>
